extends layout

block content
  div(ng-controller="UploadCtrl")
    div.row
      div.drop-box.col-md-4.col-md-offset-4(ngf-drop="uploadFiles($files)", ngf-drag-over-class="'dragover'", ngf-multiple="true", ngf-pattern="'text/csv'") Drop a CSV file here
      div.drop-box.col-md-4.col-md-offset-4(ngf-no-file-drop) File Drag/Drop is not supported for this browser
    div.row
      span.col-md-4.col-md-offset-4.progress(ng-show="progress >= 0")
        div(style="width:{{progress}}%", ng-bind="progress + '%'")
    div.row(style="height:20px")
    form
      div.row.form-group
        div.col-md-4.col-md-offset-4
          span(ng-show="header_loaded()") Secondary Plot:&nbsp;
          select(ng-model="secondary_column", ng-options="obj.idx as obj.name for obj in csv_header_row", ng-show="header_loaded()", ng-change="secondary_column_change()")
      div.row.form-group
        div.col-md-2.text-right
          span(style="width:40%") Mean&nbsp;
          input(style="width:60%")(type="text", disabled, ng-model="secondary_heading")
        div.col-md-2
          input#group1_mean(type="text", disabled, ng-model="secondary_means[0].toFixed(8)")
        div.col-md-2
          input#group2_mean(type="text", disabled, ng-model="secondary_means[1].toFixed(8)")
        div.col-md-2
          input#group3_mean(type="text", disabled, ng-model="secondary_means[2].toFixed(8)")
        div.col-md-2
          input#group4_mean(type="text", disabled, ng-model="secondary_means[3].toFixed(8)")
        div.col-md-2
          input#group5_mean(type="text", disabled, ng-model="secondary_means[4].toFixed(8)")
      div.row.form-group
        div.col-md-2.text-right
          span(style="width:40%") Std Dev&nbsp;
          input(style="width:60%")(type="text", disabled, ng-model="secondary_heading")
        div.col-md-2
          input#group1_mean(type="text", disabled, ng-model="secondary_stdevs[0].toFixed(8)")
        div.col-md-2
          input#group2_mean(type="text", disabled, ng-model="secondary_stdevs[1].toFixed(8)")
        div.col-md-2
          input#group3_mean(type="text", disabled, ng-model="secondary_stdevs[2].toFixed(8)")
        div.col-md-2
          input#group4_mean(type="text", disabled, ng-model="secondary_stdevs[3].toFixed(8)")
        div.col-md-2
          input#group5_mean(type="text", disabled, ng-model="secondary_stdevs[4].toFixed(8)")
      div.row.form-group
        div.col-md-2.text-right
          span(style="width:40%") Counts&nbsp;
          input(style="width:60%")(type="text", disabled, ng-model="secondary_heading")
        div.col-md-2
          input#group1_mean(type="text", disabled, ng-model="secondary_counts[0]")
        div.col-md-2
          input#group2_mean(type="text", disabled, ng-model="secondary_counts[1]")
        div.col-md-2
          input#group3_mean(type="text", disabled, ng-model="secondary_counts[2]")
        div.col-md-2
          input#group4_mean(type="text", disabled, ng-model="secondary_counts[3]")
        div.col-md-2
          input#group5_mean(type="text", disabled, ng-model="secondary_counts[4]")
      div.row.form-group
        div.col-md-2.text-right
          span Temperature Mean
        div.col-md-2
          input#group1_mean(type="text", disabled, ng-model="temperature_means[0].toFixed(2)")
        div.col-md-2
          input#group2_mean(type="text", disabled, ng-model="temperature_means[1].toFixed(2)")
        div.col-md-2
          input#group3_mean(type="text", disabled, ng-model="temperature_means[2].toFixed(2)")
        div.col-md-2
          input#group4_mean(type="text", disabled, ng-model="temperature_means[3].toFixed(2)")
        div.col-md-2
          input#group5_mean(type="text", disabled, ng-model="temperature_means[4].toFixed(2)")
      div.row.form-group
        div.col-md-2.text-right
          span Temperature Std Dev
        div.col-md-2
          input#group1_mean(type="text", disabled, ng-model="temperature_stdevs[0].toFixed(2)")
        div.col-md-2
          input#group2_mean(type="text", disabled, ng-model="temperature_stdevs[1].toFixed(2)")
        div.col-md-2
          input#group3_mean(type="text", disabled, ng-model="temperature_stdevs[2].toFixed(2)")
        div.col-md-2
          input#group4_mean(type="text", disabled, ng-model="temperature_stdevs[3].toFixed(2)")
        div.col-md-2
          input#group5_mean(type="text", disabled, ng-model="temperature_stdevs[4].toFixed(2)")
      div.row.form-group
        div.col-md-2.text-right
          span Temperature Counts
        div.col-md-2
          input#group1_mean(type="text", disabled, ng-model="temperature_counts[0]")
        div.col-md-2
          input#group2_mean(type="text", disabled, ng-model="temperature_counts[1]")
        div.col-md-2
          input#group3_mean(type="text", disabled, ng-model="temperature_counts[2]")
        div.col-md-2
          input#group4_mean(type="text", disabled, ng-model="temperature_counts[3]")
        div.col-md-2
          input#group5_mean(type="text", disabled, ng-model="temperature_counts[4]")
      div.row.form-group
        div.col-md-2.text-right
          span Temperature Bin
        div.col-md-2.text-center
          input#group1_mean(type="radio", ng-model="selected_bin", value="0")
        div.col-md-2.text-center
          input#group2_mean(type="radio", ng-model="selected_bin", value="1")
        div.col-md-2.text-center
          input#group3_mean(type="radio", ng-model="selected_bin", value="2")
        div.col-md-2.text-center
          input#group4_mean(type="radio", ng-model="selected_bin", value="3")
        div.col-md-2.text-center
          input#group5_mean(type="radio", ng-model="selected_bin", value="4")
    div.row.form-group
      div.col-md-2.text-right
        span Slopes
      div.col-md-2
        input#group1_mean(type="text", disabled, ng-model="slopes[0]")
      div.col-md-2
        input#group2_mean(type="text", disabled, ng-model="slopes[1]")
      div.col-md-2
        input#group3_mean(type="text", disabled, ng-model="slopes[2]")
      div.col-md-2
        input#group4_mean(type="text", disabled, ng-model="slopes[3]")
    div.row.form-group
      div.col-md-2.text-right
        span Intercepts
      div.col-md-2
        input#group1_mean(type="text", disabled, ng-model="intercepts[0]")
      div.col-md-2
        input#group2_mean(type="text", disabled, ng-model="intercepts[1]")
      div.col-md-2
        input#group3_mean(type="text", disabled, ng-model="intercepts[2]")
      div.col-md-2
        input#group4_mean(type="text", disabled, ng-model="intercepts[3]")
    div.row
      div.col-md-2.text-right
        span CLI commands
      div.col-md-6
        textarea(ng-model="cli_commands", style = "width:100%", rows="6")
    div.row
      div#scatterplot.col-md-12(style="height: 600px;")
    div.row
      div#histogram.col-md-12(style="height: 600px;")
    div.row
      div#temperature_histogram.col-md-12(style="height: 600px;")