extends layout

block content
  div(ng-controller="UploadCtrl")
    div.row
      div.drop-box.col-md-4.col-md-offset-4(ngf-drop="uploadFiles($files)", ngf-drag-over-class="'dragover'", ngf-multiple="true", ngf-pattern="'text/csv'") Drop a CSV file here
      div.drop-box.col-md-4.col-md-offset-4(ngf-no-file-drop) File Drag/Drop is not supported for this browser
    div.row
      span.col-md-4.col-md-offset-4.progress(ng-show="progress >= 0")
        div(style="width:{{progress}}%", ng-bind="progress + '%'")
    div.row.text-center(style="height:20px") &nbsp;
    div.row.text-center(style="height:20px") {{generated_filename}}
    form
      div.row.form-group
        div.col-md-12.text-center
          span(ng-show="header_loaded()") Secondary Plot:&nbsp;
          select.c-select(ng-model="secondary_column", ng-options="obj.idx as obj.name for obj in csv_header_row", ng-show="header_loaded()", ng-change="secondary_column_change()")
          button.btn.btn-primary(style="margin-left:10px;", type="button", ngf-select="uploadFiles($files)", multiple="multiple") Select Files Dialog
          button.btn.btn-info(style="margin-left:10px;", type="button", ng-hide="hide_stats_data", ng-click="hideStats()") Hide Stats Data
          button.btn.btn-warning(style="margin-left:10px;", type="button", ng-show="hide_stats_data", ng-click="showStats()") Show Stats Data
          button.btn.btn-info(style="margin-left:10px;", type="button", ng-click="freezeStats()") Freeze Stats
      div.row.form-group
        div.col-md-2.text-right
          span(style="width:40%") Start&nbsp;
          input(style="width:60%")(type="text", disabled, ng-model="secondary_heading")
        div.col-md-2
          input(type="text", disabled, value="{{time_windows[0].start_moment.format('YYYY-MM-DD HH:mm:ss')}}")
        div.col-md-2
          input(type="text", disabled, value="{{time_windows[1].start_moment.format('YYYY-MM-DD HH:mm:ss')}}")
        div.col-md-2
          input(type="text", disabled, value="{{time_windows[2].start_moment.format('YYYY-MM-DD HH:mm:ss')}}")
        div.col-md-2
          input(type="text", disabled, value="{{time_windows[3].start_moment.format('YYYY-MM-DD HH:mm:ss')}}")
        div.col-md-2
          input(type="text", disabled, value="{{time_windows[4].start_moment.format('YYYY-MM-DD HH:mm:ss')}}")
      div.row.form-group
        div.col-md-2.text-right
          span(style="width:40%") End&nbsp;
          input(style="width:60%")(type="text", disabled, ng-model="secondary_heading")
        div.col-md-2
          input(type="text", disabled, value="{{time_windows[0].end_moment.format('YYYY-MM-DD HH:mm:ss')}}")
        div.col-md-2
          input(type="text", disabled, value="{{time_windows[1].end_moment.format('YYYY-MM-DD HH:mm:ss')}}")
        div.col-md-2
          input(type="text", disabled, value="{{time_windows[2].end_moment.format('YYYY-MM-DD HH:mm:ss')}}")
        div.col-md-2
          input(type="text", disabled, value="{{time_windows[3].end_moment.format('YYYY-MM-DD HH:mm:ss')}}")
        div.col-md-2
          input(type="text", disabled, value="{{time_windows[4].end_moment.format('YYYY-MM-DD HH:mm:ss')}}")
      div.row.form-group
        div.col-md-2.text-right
          span(style="width:40%") Duration&nbsp;
          input(style="width:60%")(type="text", disabled, ng-model="secondary_heading")
        div.col-md-2
          input(type="text", disabled, value="{{window_duration(0)}}")
        div.col-md-2
          input(type="text", disabled, value="{{window_duration(1)}}")
        div.col-md-2
          input(type="text", disabled, value="{{window_duration(2)}}")
        div.col-md-2
          input(type="text", disabled, value="{{window_duration(3)}}")
        div.col-md-2
          input(type="text", disabled, value="{{window_duration(4)}}")
      div(ng-hide="hide_stats_data").row.form-group
        div.col-md-2.text-right
          span(style="width:40%") Mean&nbsp;
          input(style="width:60%")(type="text", disabled, ng-model="secondary_heading")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_means[0].toFixed(8)}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_means[1].toFixed(8)}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_means[2].toFixed(8)}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_means[3].toFixed(8)}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_means[4].toFixed(8)}}")
      div(ng-hide="hide_stats_data").row.form-group
        div.col-md-2.text-right
          span(style="width:40%") Std Dev&nbsp;
          input(style="width:60%")(type="text", disabled, ng-model="secondary_heading")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_stdevs[0].toFixed(8)}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_stdevs[1].toFixed(8)}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_stdevs[2].toFixed(8)}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_stdevs[3].toFixed(8)}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_stdevs[4].toFixed(8)}}")
      div(ng-hide="hide_stats_data").row.form-group
        div.col-md-2.text-right
          span(style="width:40%") Counts&nbsp;
          input(style="width:60%")(type="text", disabled, ng-model="secondary_heading")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_counts[0]}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_counts[1]}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_counts[2]}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_counts[3]}}")
        div.col-md-2
          input(type="text", disabled, value="{{secondary_counts[4]}}")
      div(ng-hide="hide_stats_data").row.form-group
        div.col-md-2.text-right
          span Temperature Mean
        div.col-md-2
          input(type="text", disabled, value="{{temperature_means[0].toFixed(2)}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_means[1].toFixed(2)}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_means[2].toFixed(2)}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_means[3].toFixed(2)}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_means[4].toFixed(2)}}")
      div(ng-hide="hide_stats_data").row.form-group
        div.col-md-2.text-right
          span Temperature Std Dev
        div.col-md-2
          input(type="text", disabled, value="{{temperature_stdevs[0].toFixed(2)}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_stdevs[1].toFixed(2)}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_stdevs[2].toFixed(2)}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_stdevs[3].toFixed(2)}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_stdevs[4].toFixed(2)}}")
      div(ng-hide="hide_stats_data").row.form-group
        div.col-md-2.text-right
          span Temperature Counts
        div.col-md-2
          input(type="text", disabled, value="{{temperature_counts[0]}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_counts[1]}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_counts[2]}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_counts[3]}}")
        div.col-md-2
          input(type="text", disabled, value="{{temperature_counts[4]}}")
      div.row.form-group
        div.col-md-2.text-right
          span Temperature Bin
        div.col-md-2.text-center
          input(type="radio", ng-model="selected_bin", value="0")
        div.col-md-2.text-center
          input(type="radio", ng-model="selected_bin", value="1")
        div.col-md-2.text-center
          input(type="radio", ng-model="selected_bin", value="2")
        div.col-md-2.text-center
          input(type="radio", ng-model="selected_bin", value="3")
        div.col-md-2.text-center
          input(type="radio", ng-model="selected_bin", value="4")
    div.row.form-group
      div.col-md-2.text-right
        span Slopes
      div.col-md-2
        input(type="text", disabled, value="{{slopes[0].toFixed(8)}}")
      div.col-md-2
        input(type="text", disabled, value="{{slopes[1].toFixed(8)}}")
      div.col-md-2
        input(type="text", disabled, value="{{slopes[2].toFixed(8)}}")
      div.col-md-2
        input(type="text", disabled, value="{{slopes[3].toFixed(8)}}")
    div.row.form-group
      div.col-md-2.text-right
        span Intercepts
      div.col-md-2
        input(type="text", disabled, value="{{intercepts[0].toFixed(8)}}")
      div.col-md-2
        input(type="text", disabled, value="{{intercepts[1].toFixed(8)}}")
      div.col-md-2
        input(type="text", disabled, value="{{intercepts[2].toFixed(8)}}")
      div.col-md-2
        input(type="text", disabled, value="{{intercepts[3].toFixed(8)}}")
    div.row
      div.col-md-2.text-right
        span CLI commands
      div.col-md-6
        textarea(ng-model="cli_commands", style = "width:100%", rows="6")
    div.row
      div#scatterplot.col-md-12(style="height: 600px;")
    div.row
      div#histogram.col-md-12(style="height: 600px;")
    div.row
      div#temperature_histogram.col-md-12(style="height: 600px;")